Extends layout

block content
  h1= title
  p welcome to #{title}
  form(action="/new", method="post")
    input(type="text",name="user",required="true")
   input(type="text",name="text",required="true")
    button(type="submit") Submit 



